/* .category-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
} */

.age-link {
  color: #0099FF; 
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.age-link:hover {
  color: rgb(169, 193, 240);
  text-decoration: underline
}

.category-link:hover {
    color: rgb(169, 193, 240);
    text-decoration: underline;
}

h2{
    color: rgb(63, 76, 89);
}

@media (max-width: 768px) {
  .age-link {
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .age-link {
    font-size: 16px;
    padding: 10px;
  }
}