.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #0099ff;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  
}

.logo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 15px;
}

.switch-branch-btn {
  background-color: rgb(0, 68, 255);
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.switch-branch-btn:hover {
  background-color: rgb(2, 120, 238);
}

.home a {
  background-color: rgb(0, 68, 255);
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.home a:hover {
  background-color: rgb(2, 120, 238);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
  }

  .nav-links {
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    
  }

  .switch-branch-btn,
  .home a {
    width: 100%;
    text-align: center;
  }
}