/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 380px;
  text-align: center;
  position: relative;
}

.modal-img {
  width: 100%;
  border-radius: 12px;
}

.modal-buttons {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.whatsapp-btn {
  background: #25d366;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  display: block;
}

.checkout-btn {
  background: #000;
  padding: 12px;
  border-radius: 8px;
  color: white;
  display: block;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
} */
